/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #5b5b5b;
}

a{
    color: #5b5b5b;
}


/* TOP MENU STYLING */

    /* Basic styles for the top menu */
    .top-menu {
        background-color: #371f1f;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 0 10px rgba(66, 57, 66, 0.5); /* Apply the shadow */
    }

    .top-menu ul {
        display: flex;
        justify-content: center;
    }

    .big-menu{
        display: flex;
        justify-content: space-around;
    }

    .top-menu li {
        margin: 0 20%;
    }

    .top-menu a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        
    }

    a{
        text-decoration: none;
    }

    .top-menu a:hover{
        color: rgb(255, 207, 105);
    }

    .pancake-display-none {
        background-color: #371f1f;
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }

    .pancake-display-none ul {
        display: flex;
        justify-content: center;
    }

    .pancake-display-none{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pancake-display-none li {
        margin: 0 20px;
    }

    .pancake-display-none a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    .pancake-display-none a:hover{
        color: rgb(255, 207, 105);
    }

    .pancake-menu-toggle{
        font-size: 25px;
    }

    .pancake-menu-exit{
        font-size: 20px;
        margin-top: 5px;
        display: none;
        justify-content: center;
        text-align: center;
    }
    .pancake-menu-exit:hover{
        cursor: pointer;
    }


    @media screen and (min-width: 650px){

        .profile-small{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            color: #5b5b5b;
            padding-bottom: 0px;
            align-items: center;
    
    
        }
    .circular-container-small{
        overflow: hidden;
        border-radius: 50%; /* This makes the container circular */
        margin-top: 60px;
        margin-bottom: 50px;
        /* margin-left: 20px;
        margin-right: 20px; */
        width:100px;
    }
        .pancake-display-none{
            display: none;
        }
        .pancake-menu-toggle {
            display: none;
        }
        .big-menu{
            display: flex;
        }
        .menu-buttons {
            display: none;
        
        }

    
    }

    /* Styles for the pancake menu (hidden by default) */
    /* .pancake-menu {
        display: none;
    } */

    /* Media query to show the pancake menu when the screen size is reduced */
    @media screen and (max-width: 649px) {
        .profile-small{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            color: #5b5b5b;
            padding-bottom: 0px;
            align-items: center;
            font-size: 20px;
    
    
        }
        .profile-small h1{
            font-size: 30px;
        }

        .circular-container-small{
            overflow: hidden;
            border-radius: 50%; /* This makes the container circular */
            margin-top: 60px;
            margin-bottom: 50px;
            /* margin-left: 20px;
            margin-right: 20px; */
            width:50px;
        }

        .janedesc{
            margin-left: 20px;
            margin-right: 20px;
        }
        .menu-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .top-menu ul {
            flex-direction: column;
            align-items: center;
        }

        .big-menu{
            display: none;
            
        }

        .top-menu li {
            margin: 10px 0;
        }

        .pancake-menu-toggle {
            display: block;
            cursor: pointer;
        }

        .pancake-menu {
            display: block;
            
        }

        .pancake-display-none li{
            margin-top: 10px;
            margin-bottom: 10px;

            width: 100%;
        }
    }
    


/* PFP STYLING */

    .right-col{
        display:flex;
        justify-content: center;
    }

    /* Apply a circular mask to the image */
    .circular-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%; /* This makes the image circular within the container */

    }

    .circular-container{
        overflow: hidden;
        border-radius: 50%; /* This makes the container circular */
        margin-top: 60px;
        margin-bottom: 50px;
        /* margin-left: 20px;
        margin-right: 20px; */
        width:350px;
    }

    .profile{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: #5b5b5b;
        padding-bottom: 20px;


        box-shadow: 0 0 10px rgba(66, 57, 66, 0.5); /* Apply the shadow */
    }

    
    .janedesc{
        margin-top: 50px;
        width: 50%;
    }

    .janedesc-small{
        margin-top: 0px;
        margin-left: 50px;
        
    }
    .about-me{
        color: #5b5b5b;
        margin-bottom: 50px;

    }

    @media screen and (max-width: 649px){
        /* Create a circular container */
        .circular-container {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
        .janedesc{
            margin-top: 0;
            width: 100%;
        }

    }

.current-page{
    color:rgb(255, 207, 105)!important;
}

.edu-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;

}

.short-text{
    width:300px;
}


.center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}





.siteName{
    display: flex;
    justify-content: center;
    margin-top:50px;
}

h3{
    margin-top: 30px;
    margin-bottom: 0px;
}



h4{
    font-style: italic;
    margin:0px;
    padding-top: 0px;
}




.project-image-container img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    border-radius: 15px 15px 0px 0px; 
}

.project-container{
    margin-top: 10px;
    margin-bottom: 100px;
    padding-left: 70px;
    padding-right:70px;

    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.no-margin{
    margin: 0 !important;
}

.project-card{
    border-radius: 15px 15px 15px 15px; 
    width: 325px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(66, 57, 66, 0.5);
    padding-bottom: 20px;
    margin-bottom: 30px;
    opacity: .7;
    height:400px;
    margin-left: 5px;
    margin-right: 5px;
}
.project-card:hover{
    opacity: 1;
}

.card-text{
    color: #5b5b5b;
    margin-left: 20px;
    margin-right:20px;
}


/* CONTACT */
.contact-container {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact-container h1 {
    color: #333;
}

.contact-container form {
    text-align: left;
    margin: 20px 0;
}

.contact-container label {
    display: block;
    margin-top: 10px;
    color: #333;
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-container input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-container input[type="submit"]:hover {
    background-color: #555;
}