/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #5b5b5b;
}



/* TOP MENU STYLING */

    /* Basic styles for the top menu */
    .top-menu {
        background-color: #371f1f;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 0 10px rgba(66, 57, 66, 0.5); /* Apply the shadow */
    }

    .top-menu ul {
        display: flex;
        justify-content: center;
    }

    .big-menu{
        display: flex;
        justify-content: space-around;
    }

    .top-menu li {
        margin: 0 20%;
    }

    .top-menu a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        
    }

    .top-menu a:hover{
        color: rgb(255, 207, 105);
    }

    .pancake-display-none {
        background-color: #371f1f;
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }

    .pancake-display-none ul {
        display: flex;
        justify-content: center;
    }

    .pancake-display-none{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pancake-display-none li {
        margin: 0 20px;
    }

    .pancake-display-none a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    .pancake-display-none a:hover{
        color: rgb(255, 207, 105);
    }

    .pancake-menu-toggle{
        font-size: 25px;
    }

    .pancake-menu-exit{
        font-size: 20px;
        margin-top: 5px;
        display: none;
        justify-content: center;
        text-align: center;
    }
    .pancake-menu-exit:hover{
        cursor: pointer;
    }


    @media screen and (min-width: 650px){
        .pancake-display-none{
            display: none;
        }
        .pancake-menu-toggle {
            display: none;
        }
        .big-menu{
            display: flex;
        }
        .menu-buttons {
            display: none;
        
        }

    
    }

    /* Styles for the pancake menu (hidden by default) */
    /* .pancake-menu {
        display: none;
    } */

    /* Media query to show the pancake menu when the screen size is reduced */
    @media screen and (max-width: 649px) {
        .menu-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .top-menu ul {
            flex-direction: column;
            align-items: center;
        }

        .big-menu{
            display: none;
            
        }

        .top-menu li {
            margin: 10px 0;
        }

        .pancake-menu-toggle {
            display: block;
            cursor: pointer;
        }

        .pancake-menu {
            display: block;
            
        }

        .pancake-display-none li{
            margin-top: 10px;
            margin-bottom: 10px;

            width: 100%;
        }
    }
    


/* PFP STYLING */

    /* Apply a circular mask to the image */
    .circular-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%; /* This makes the image circular within the container */

    }

    .circular-container{
        overflow: hidden;
        border-radius: 50%; /* This makes the container circular */
        margin-top: 60px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
        width:350px;
    }
    .profile{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: #5b5b5b;
        padding-bottom: 20px;


        box-shadow: 0 0 10px rgba(66, 57, 66, 0.5); /* Apply the shadow */
    }
    .janedesc{
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        width: 40%;
    }
    .about-me{
        color: #5b5b5b;
        margin-bottom: 50px;

    }

    @media screen and (max-width: 649px){
        /* Create a circular container */
        .circular-container {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
        .janedesc{
            margin-top: 0;
            width: 100%;
        }

    }



.edu-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;

}

.short-text{
    width:300px;
}






.siteName{
    display: flex;
    justify-content: center;
}